{% include 'navbar.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-4" style="color: #4a9cee;"><b>About Us</b></h1>
            <div class="card">
                <div class="card-body">
                    <p class="lead">
                        Cool Galaxy Engineering Pte Ltd is a leading air conditioning company based in Singapore, 
                        dedicated to delivering exceptional cooling solutions for both residential and commercial clients. 
                        With a wealth of experience in the aircon industry, we pride ourselves on our team of highly skilled 
                        technicians who are committed to providing outstanding service tailored to meet the unique needs of 
                        each client.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}